@font-face {
    font-family: 'SFUIDisplay-Regular';
    font-weight: 500;
    font-style: normal;
    src: url('..//fonts/SFUIDisplay-Regular.woff2') format('woff2'), url('//fonts/SFUIDisplay-Regular.woff') format('woff');
}
@font-face {
    font-family: 'SFUIDisplay-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('..//fonts/SFUIDisplay-Bold.woff2') format('woff2'), url('//fonts/SFUIDisplay-Bold.woff') format('woff');
}
@font-face {
    font-family: 'SFUIDisplay-Black';
    font-weight: 700;
    font-style: normal;
    src: url('..//fonts/SFUIDisplay-Black.woff2') format('woff2'), url('//fonts/SFUIDisplay-Black.woff') format('woff');
}